<div>
    <div class="row" *ngIf="!allShows">
        <div class="col-6">
            <h6 class="show-title">
                {{genre? genre : 'Unknown' }}
            </h6>
        </div>
        <div class="col-4"></div>
        <div class="col-2">
            <span (click)="prev()" class="prev-button" *ngIf="showsData.length && start > 0">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span (click)="next()" class="next-button" *ngIf="showsData.length && end < showsData.length-1">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
        </div>
    </div>
    <div class="d-flex justify flex-wrap clear">
        <h6 class="show-results" *ngIf="showsData.length == 0">No results found</h6>
        <div class="p-2 item" *ngFor="let item of showsData | slice:start:!allShows ? end : showsData.length;">
            <div class="card custom">
                <a [routerLink]="['/show-details', item.id]"><img
                        [src]="item.image ? item.image.medium : '/assets/images/no-image.png'" height="290"
                        class="img-fluid hover"></a>
                <div class="card-body-custom">
                    <h6 [routerLink]="['/show-details', item.id]" class="card-title">{{item.name}}
                    </h6>
                    <h6 class="caption">
                        Rating: {{item.rating.average ? item.rating.average : 'NA'}} / 10 <i class="fa fa-star"
                            aria-hidden="true"></i></h6>
                </div>
            </div>
        </div>
    </div>
</div>