@import "../../styles.scss";

.show-title {
    color: $theme-text;
    font-size: 1.1em;
    float: left;
    padding-left: 10px;
}
.show-results {
    color: $theme-text;
    font-size: 1em;
    float: left;
    padding: 10px;
}
.prev-button {
    color: $theme-text;
    padding-right: 40px;
    cursor: pointer;
    background-color: inherit;
    border: none;
}
.next-button {
    color: $theme-text;
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.flex-wrap.clear {
    clear: left;
}
.card.custom {
    width: 13rem;
    text-align: center;
    .card-body-custom {
        padding-left: 2px;
        padding-right: 2px;
        .card-title {
            font-size: 0.9rem;
            cursor: pointer;
            margin-bottom: 3px;
        }
        .card-title:hover {
            text-decoration: underline;
        }
        .caption {
            font-size: 0.8rem;
            line-height: 1;
        }
    }
   
  
}