<div class="bg-content" *ngIf="data">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb custom">
            <li class="breadcrumb-item"><a routerLink="">Home (All Shows)</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{data.name}}</li>
        </ol>
    </nav>
  
    <div class="container">
        <div class="p-b-20">
            <button class="btn btn-back"
                    (click)="naviagteToPreviousPage()">
              <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp;
              Back
            </button>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img [src]="data.image ? data.image.original : '/assets/images/no-image.png' " class="img-size">
            </div>
            <div class="col-md-6 p-t-20">
                <h3>{{data.name}}</h3>
                <div class="d-flex">
                    <h5>{{data.language}}</h5>&nbsp;|&nbsp;<h5>{{data.runtime}}&nbsp;minutes</h5>
                </div>
                <div class="d-flex">
                    <h5><i class="fa fa-clock-o" aria-hidden="true"></i> {{data.schedule.time}}</h5>&nbsp;<h5>
                        &nbsp;|&nbsp;<span class="icon-color"><i class="fa fa-star" aria-hidden="true"></i></span>
                        {{data.rating.average}} / 10</h5>
                </div>
                <h6><span class="caption">Premiered:</span> {{data.premiered | date:'MMM d, y'}}</h6>
                <h6><span class="caption">Scheduled:</span> {{data.schedule.days.join(', ')}} at
                    {{data.schedule.time}}</h6>
                <h6>Show Type: {{data.type}}</h6>
                <h6 [innerHTML]="data.summary" class="desc-content"></h6>
                <h6>Show Status: {{data.status}}</h6>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>