@import "../../styles.scss";
.bg-content {
    color: $theme-text;
    .p-t-20 {
        padding-top: 20px;
    }
    .p-b-20 {
        padding-bottom: 20px;
    }
    .btn.btn-back {
        background-color: $theme-nav;
        border: 1px solid $theme-text;
        color: $theme-text;
    }
    .icon-color {
        color: yellow;
    }
    .desc-content {
        font-weight: 400;
        line-height: 1.3;
        text-align: justify;
    }
    .img-size {
        width: 400px;
        height: 500px;
    }
    @media  (max-width: 600px) {
        .img-size {
            width: 200px;
            height: 300px;
        }
    }
}

