<div class="bg-content">
  <form [formGroup]="showsForm">
    <div class="row" *ngIf="!searchInput">
      <div class="col-5">
        <h5 class="header-title"> Watch Series Online</h5>
      </div>
      <div class="col-2">
        <div class="form-group">
          <select class="form-control custom" formControlName="showStatus" (change)="statusChange()">
            <option value="">Show Status</option>
            <option value="Running">Running</option>
            <option value="Ended">Ended</option>
            <option value="3">In Development</option>
          </select>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <select class="form-control custom" formControlName="showRating" (change)="ratingChange()">
            <option value=''>Rating</option>
            <option value="9">9+</option>
            <option value="8">8+</option>
            <option value="7">7+</option>
            <option value="6">6+</option>
            <option value="5">5+</option>
            <option value="4">4+</option>
            <option value="3">3+</option>
            <option value="2">2+</option>
          </select>
        </div>
      </div>
      <div class="col-2">
        <div class="form-group">
          <select class="form-control custom" formControlName="sortBy" (change)="sortChange($event.target.value)">
            <option value="">Sort by</option>
            <option value="A-Z">A-Z</option>
            <option value="Z-A">Z-A</option>
          </select>
        </div>
      </div>
      <div class="col-1">
      </div>
    </div>
  </form>
  <hr class="border-color">
  <ng-container *ngIf="searchInput">
    <app-show-list [searchResults]="searchResults" [searchInput]="searchInput"></app-show-list>
  </ng-container>
  <ng-container *ngIf="!searchInput">
    <app-show-list [genreInput]="'Drama'" [searchResults]="showsDataDrama"></app-show-list>
    <hr class="border-color">
    <app-show-list [genreInput]="'Comedy'" [searchResults]="showsDataComedy"></app-show-list>
    <hr class="border-color">
    <app-show-list [genreInput]="'Sports'" [searchResults]="showsDataSports"></app-show-list>
    <hr class="border-color">
  </ng-container>
</div>