@import "../../styles.scss";
.border-color {
    border-top: 1px solid $theme-border;
}
.form-control.custom {
    padding-top: 2px;
    height: 32px;
    background-color: inherit;
    color:  $theme-text;;
    option {
        color: #000;
    }
}
 .header-title {
    padding-left: 20px;
    color: $theme-text;
 }