/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
$theme-nav: #0e5384;
$theme-text: #fff;
$theme-bg: #041b2b ;
$theme-border: rgba(247, 245, 245, 0.1);
.nav-bg {
    background-color: $theme-nav;
}
.breadcrumb.custom {
    background-color: inherit;
    font-size: 18px;
    .breadcrumb-item.active {
        color: $theme-text;
    }
}
.app-root {
  &__content {
    margin: 0 auto;
  }
}
.bg-content {
    background-color: $theme-bg;
    padding: 2%;
    padding-top: 80px;
    min-height: 760px;
    .breadcrumb.custom {
      padding-left: 0;
  }
}
.footer {
background-color: $theme-bg;
border-top: 1px solid #fff;
color: $theme-text;
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }
}
.content-width {
  max-width: 1040px;
  margin: 0 auto;
}
.hover {
  cursor: pointer;
}